# SERVER
PORT=8080
JWT_SECRET=""

# DATABASE
DATABASE_URL="postgres://postgres:postgres@localhost:5432/image_processor?sslmode=disable"

# AWS
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_S3_BUCKET_NAME=""
AWS_SQS_URL=""
